body,
html {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Corbel, "Lucida Grande", sans-serif;
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  max-height: auto;
}

.hint,
.story {
  text-align: justify;
  text-align-last: center;
  margin: 1vh auto;
  max-width: 800px;
}
.console {
  text-align: justify;
  text-align-last: center;
  color: #32cd32;
}

.secret {
  text-align: justify;
  text-align-last: center;
  margin: 1vh auto;
  font-size: large;
  color: #ff69b4;
}

.first-time-btn {
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: fixed;
  bottom: 3px;
  right: 3px;
  background-color: #420084;
}

.mum {color: #8f57ff}
.tsun {
    color: #ff89c4;
    text-align: justify;
    text-align-last: center;
}
.uf {color: #37d1d1}
.player {color: #c6c6fa}
.npc {color: #00dddd}
.ag {color: #eeee30}
.as {color: #999960}
.thinking {
    color: #ffa0a0;
    font-style: italic;
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color: #89cff0;
}

.warning {border-style: solid; border-width: 2px; border-color: #ff4040; margin: 20px;
padding: 20px; color: #ff4040; font-weight: bold; font-size: 20px; text-align: center}